---
import FaqNonmember from "../components/FaqNonmember.astro";
import FaqMember from "../components/FaqMember.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import "../styles.css";
---

<Mainlayout>
  <div id="faq_section">
    <h2>FAQ - Frequently Asked Question</h2>
    <h3>For non-members</h3>
      <FaqNonmember />
    <h3>For members</h3>
    <FaqMember />
  </div>
</Mainlayout>
<style>
  #faq_section {
    background-color: var(--background);
  }
  /*
  h2 {
    margin-bottom: 0;
  }
  .text-box :second-child {
    margin-top: 0;
  }*/
  h2 {
    text-align: center;
  }
  body {
    background-color: var(--dark-background);
  }
</style>
