---
import FaqNonmember from "../components/FaqNonmember.astro";
import FaqMember from "../components/FaqMember.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import "../styles.css";
const { title } = Astro.props;
---

<Mainlayout title="Glaecier">
  <section id="faq_section">
    <div class="section_text">
      <h1>FAQ - Frequently Asked Question</h1>
      <h2>For non-members</h2>
      <FaqNonmember />
      <h2>For members</h2>
      <FaqMember />
    </div>
  </section>
</Mainlayout>
<style>
  #faq_section {
    background-color: var(--background);
  }
  h2 {
    text-align: center;
  }
  body {
    background-color: var(--dark-background);
  }
</style>
