---
import Mainlayout from "../layouts/Mainlayout.astro";
import Landing from "../components/Landing.astro";
import About from "../components/About.astro";
import Membership from "../components/Membership.astro";
import Community from "../components/Community.astro";
import Events from "../components/Events.astro";
import Merchandise from "../components/Merchandise.astro";
import BackToTop from "../components/BackToTop.astro";

import "../styles.css";
const { title } = Astro.props;
---

<Mainlayout title="glaecier">
  <section id="landing_section">
    <Landing />
  </section>
  <section id="about_section">
    <About />
  </section>
  <section id="membership_section">
    <Membership />
  </section>
  <section id="community_section">
    <Community />
  </section>
  <section id="events_section">
    <Events />
  </section>
  <section id="merchandise_section">
    <Merchandise />
  </section>
  <BackToTop />
</Mainlayout>

<style>
  body {
    min-width: 100%;
    max-height: 100%;
    background-image: url("../img/background.webp");
    background-size: cover;
    background-position: center;
    background-origin: top;
  }
  html {
    height: 100%;
  }
</style>
