---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../styles.css";
const { title } = Astro.props;
---

<Mainlayout title="glaecier">
  <div class="memberpage_landing">
    <img src="img/glaecier_logo.svg" alt="logo" />
    <h1>Welcome to our exclusive member site</h1>
  </div>
  <div class="text_columns">
    <div class="col2_text">
      <div class="special_col2_text">
        <p>Opening hours</p>
        <div class="col2_text">
          <div>
            <p>Monday - Sunday:</p>
            <p>6:00 AM - 10:00 PM</p>
          </div>
          <div>
            <p>Thursday:</p>
            <p>6:00 AM - <span>5:00 PM</span></p>
          </div>
        </div>
      </div>
      <p>Access our event calendar, insider facility tips, and practical messages. Be a part of the Glaecier community.</p>
    </div>
  </div>
  <section class="memberpage_box">
    <h2>Join us in building a thriving community together</h2>
    <p>Our members are the heart of our community.</p>
    <p>
      Join us in building a thriving and vibrant space where everyone can unwind, relax and connect with like-minded people. We believe in creating a welcoming and inclusive environment that fosters growth, wellness, and fun. So come join us and be
      part of something special. Together, let's build a thriving community that celebrates the power of sauna and relaxation.
    </p>
  </section>
</Mainlayout>

<style>
  body {
    width: 100%;
    height: 1500px;
    background-image: url("../img/memberpage.webp");
    background-size: cover;
    background-position: center;
    background-origin: top;
    max-height: 800px;
  }
  .memberpage_landing img {
    width: 100%;
    max-width: 300px;
    color: var(--white);
    margin-left: 65%;
    margin-top: 22rem;
  }
  .memberpage_landing {
    min-height: 700px;
    color: var(--white);
  }
  .memberpage_landing h1 {
    text-align: left;
    color: var(--white);
    max-width: 700px;
    font-size: var(--h3-font-size);
    margin-left: 50%;
    margin-top: 2rem;
  }

  .flex {
    display: flex;
    margin-left: 50%;
    margin-top: 30%;
    color: var(--white);
    flex-direction: row;
  }
  .flex h1 {
    margin: 4rem;
    font-size: var(--h1-font-size);
  }
  .text_columns {
    background-color: var(--orange-beige);
  }
  .memberpage_box {
    background-color: var(--background);
    color: var(--dark);
    text-align: center;
    padding: 10%;
  }
  .memberpage_box p {
    font-size: var(--p-font-size);
    margin-top: 2rem;
  }
  .memberpage_box h2 {
    font-size: var(--h2-font-size);
    text-align: center;
  }
</style>
