---
import Merchandise from "../components/Merchandise.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import "../styles.css";
const { title } = Astro.props;
---

<Mainlayout title="Glaecier">
  <section id="merchandise_section">
    <div class="section_text">
      <h2>Merchandise</h2>
      <p>Immerse yourself in the world of Glaecier Bathing and Sauna Culture with our exquisite Glaecier Merchandise Collection. Each product is meticulously crafted to enhance your comfort & style.</p>
      <p>Look through our merchandise catalog and decide which items you would like to take home after your next visit in Glaecier. Unfortunately, it is not possible to buy our merchandise online !</p>
    </div>
    <Merchandise />
  </section>
</Mainlayout>
<style>
  #merchandise_section {
    background-color: var(--background);
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  body {
    background-color: var(--dark-background);
  }
 
</style>
