---
import "../styles.css";
---

<section id="about_section" class="index_sections">
  <div class="section_text">
    <h2>About Glaecier</h2>
    <p>
      Glaecier is a new member-based bathing club located on Refshaleøen with the best view over Copenhagen. It's built on a large, specially designed houseboat and features a floating pool with a wooden deck and underwater areas. The sauna has the
      largest panoramic view in Denmark, and the pool is filled with filtered, crystal-clear harbor water. Glaecier membership is subscription-based with a fixed monthly fee, providing daily access to Glaecier's facilities. The idea is to create
      exclusive winter/summer bathing conditions with a sauna and an inclusive community for members.
    </p>
  </div>
  <img class="section_img" src="/img/about.webp" alt="about-billede" />
</section>
