---
import "../styles.css";
const { buttontext } = Astro.props;
---

<button class="rectangular-button">{buttontext}</button>

<style>
  .rectangular-button {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px 24px;
    border-radius: 9999px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  .rectangular-button:hover {
    cursor: pointer;
  }
  .rectangular-button a {
    text-decoration: none;
    color: var(--white);
    font-size: larger;
  }
</style>
