---
import Image from "astro/components/Image.astro";
import Button2 from "./Button2.astro";
const { data } = Astro.props;
console.log(data);
---

<article class="product_element">
  <img src={`img/${data.image}`} alt="" />
  <h3>{data.title}</h3>
  <p>{data.description}</p>

  <p>{data.price}</p>
</article>

<style>
  .product_element {
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    background-color: var(--grey-background);
  }

  img {
    width: 100%; /* set a fixed width */
    height: auto; /* set a auto height */
    /* object-fit: cover; preserve aspect ratio and fill container */
  }
</style>
