---
import "../styles.css";
---

<section class="events">
  <img src="/img/events.webp" alt="events-billede" />
  <div class="text-box">
    <h2>Events</h2>
    <h3>Saunagus</h3>
    <h4>Experience the ultimate relaxation</h4>
    <p>Our most popular event is Saunagus, which is a traditional Finnish sauna experience where essential oils are added to the water and then poured over the hot stones to create a unique and relaxing atmosphere.</p>
    <h3>Salsaclub</h3>
    <h4>Spice up your sauna experience</h4>
    <p>We also offer Salsaclub, where you can enjoy a range of Latin American dance styles in our sauna room, as well as Yoga, where you can find peace and balance in body and mind.</p>
    <h3>Saunaclub</h3>
    <h4>Ultimate sauna bliss</h4>
    <p>Additionally, you can also participate in our Saunaclub, where we offer various theme nights with extraordinary sauna experiences, including music, scents, and themes.</p>
    <p>We also have events with influencers, where you can meet some of the most well-known personalities in health and wellness.</p>
  </div>
</section>
<section class="text_columns">
  <div class="col2_text">
    <p>Experience the ultimate relaxation and fun at Glaecier sauna's events</p>
    <p>From the traditional Finnish Saunagus to exciting Salsaclub</p>
  </div>
</section>

<style>
  .events {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 900px;
  }
  .events img {
    height: 900px;
    object-fit: cover;
    overflow: hidden;
  }
  .text-box {
    margin: 3rem;
  }
  .events p {
    font-size: var(--p-font-size);
    margin-top: 2rem;
  }
  .events h2 {
    font-size: var(--h2-font-size);
    text-align: center;
  }
  .events h3 {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-top: 2rem;
  }
  .events h4 {
    font-size: var(--h4-font-size);
    text-align: center;
    margin-top: 0.5rem;
  }
</style>
