---
import "../styles.css";
---

<section class="faq">
  <div class="text-box">
    <h2>Frequently Asked Questions</h2>
    <p>
      <strong>Q: I am a member, can I bring my friend?</strong><br />
      A: Yes, you can book an Open Gus session for yourself and your friend. The price per person is 299 DKK for non-members and 99 DKK for members.
    </p>

    <p>
      <strong>Q: My wristband is not working - why?</strong><br />
      A: Make sure to check if your payment card is activated on your member profile on Glaecier.com, as your wristband will be inactive otherwise. Are you checking in during Glaecier's opening hours? Remember, we are always closed on Thursdays at 5 PM
      and open from 6 AM to 10 PM the rest of the week. If none of the above applies, please contact us at community@glaecier.com.
    </p>

    <p>
      <strong>Q: I am at Glaecier and need to get in touch with someone from the Glaecier team - what should I do?</strong><br />
      A: Contact us on @glaecier_community on Instagram, and a member of our team will respond as soon as possible.
    </p>

    <p>
      <strong>Q: How much does Members Gus cost?</strong><br />
      A: Members Gus is always free.
    </p>

    <p>
      <strong>Q: How often does Members Gus take place?</strong><br />
      A: Members Gus takes place 1-2 times a week, and it is announced continuously in the calendar on your Glaecier member profile.
    </p>

    <p>
      <strong>Q: How do I sign up for an event at Glaecier?</strong><br />
      A: You can sign up for an event on your member profile under "events."
    </p>

    <p>
      <strong>Q: Can I bring food into the sauna?</strong><br />
      A: We encourage not eating inside the sauna. It is okay to enjoy food in the lounge area as long as you consider other members.
    </p>

    <p>
      <strong>Q: Can I bring my own oils and pour them on the sauna?</strong><br />
      A: We encourage you not to pour oils on the sauna unless you know what you're doing. If you haven't tried it before, ask a friend/member. We always recommend asking the other members in the sauna if they are okay with oils being poured. Always be
      considerate of other members.
    </p>

    <p>
      <strong>Q: Is it allowed to talk in the sauna/are there specific times for silence?</strong><br />
      A: It is allowed to talk in the sauna. We recommend always being considerate of others in the sauna, and it is always okay to ask people to lower their voices.
    </p>
  </div>
</section>
