---
import "../styles.css";
---

<section class="faq">
  <div class="text-box">
    <h2>Frequently Asked Questions</h2>
    <p><strong>Q: I am not a member, can I experience Glaecier?</strong></p>
    <p>A: Yes, as a non-member, your only option to experience Glaecier is to book yourself into an Open Gus session. You cannot purchase a "day pass" or any other ticket that grants access to Glaecier.</p>

    <p><strong>Q: How much does it cost to participate in Open Gus?</strong></p>
    <p>A: The price per person is 299 DKK.</p>

    <p><strong>Q: How often does Open Gus take place?</strong></p>
    <p>A: Open Gus sessions take place in Glaecier every Tuesday from 8 PM to 9 PM.</p>

    <p><strong>Q: How do I book a spot for Open Gus?</strong></p>
    <p>A: You can book a spot by emailing <a href="mailto:community@glaecier.com">community@glaecier.com</a> or by contacting us on <a href="https://www.instagram.com/glaecier_official">@glaecier_official</a> on Instagram.</p>

    <p><strong>Q: I have applied for membership, when will I become a member?</strong></p>
    <p>A: We cannot guarantee who will be granted membership and when. Memberships are randomly selected based on Glaecier's diversity criteria.</p>

    <p><strong>Q: Is there an age limit at Glaecier?</strong></p>
    <p>A: Yes, you must be 18+ to enter Glaecier.</p>
  </div>
</section>
