---
import "../styles.css";
---

<footer class="footer">
  <div>
    <img class="footer-billede hide-mobilesite" src="/img/ocean-blue_footer.png" alt="tegning" />
  </div>
  <div class="footer-content">
    <p>&copy; 2023 Glaecier. All rights reserved.</p>

    <p>
      <a href="https://www.google.com/maps/place/Refshalevej+143,+1432+København+K/@55.6904282,12.6068237,17z/data=!3m1!4b1!4m6!3m5!1s0x465253e4a1121075:0xd76336c1f6394519!8m2!3d55.6904282!4d12.6068237!16s%2Fg%2F11smjbx2sn" target="_blank"
        >Refshalevej 143, 1432 København K</a
      >
    </p>
    <p>Email:<a href="mailto:community@glaecier.com">community@glaecier.com</a></p>
    <p>
      Website:
      <a href="https://www.glaecier.com" target="_blank">glaecier.com</a> |
      <a href="https://glaecier-eksamen.netlify.app" target="_blank"> glaecier-eksamen.netlify.app</a>
    </p>
    <p><a href="/faq/">FAQ</a></p>
    <li><a href="/login/"><img src="../img/instagram-icon.png" alt="IG Icon" class="white-icon" /></a></li>
  </div>

  <style>
    .white-icon {
      margin-top: 1%;
    }
    .footer {
      background-color: var(--dark-background);
      display: flex;
      flex-direction: row;
      color: var(--ocean-blue);
      padding: 3rem;
    }
    .footer-billede {
      width: 100%;
    }
    .footer-content {
      text-align: right;
      width: 100%;
    }
    .footer-content p {
      font-size: 12px;
    }
    .footer-content a {
      text-decoration: none;
      font-weight: bold;
      color: var(--ocean-blue);
      font-size: 12px;
    }
    .footer-content p a:hover {
      border-bottom: 1px solid var(--ocean-blue);
    }
  </style>
</footer>
