---
---

<header>
  <div class="flex">
    <div class="logo">
      <a href="/">
        <img src="img/glaecier_logo.png" alt="logo" />
      </a>
    </div>
    <nav>
      <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Merchandise</a></li>
        <li><a href="#">Account</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .flex {
    display: flex;
    color: var(--white);
    max-width: 100%;
    padding: 2rem;
  }

  .nav-list {
    display: flex;
    width: 100%;
    list-style: none;
    gap: 1rem;
  }
  .logo img {
    max-width: 10%;
  }

  .nav-list li a {
    color: var(--white);
    text-decoration: none;
  }
  .nav-list li a:hover {
    border-bottom: solid 1px var(--white);
  }
</style>
