---
import HamburgerFoldOutMenu from "./HamburgerFoldOutMenu.astro";
---

<header>
  <nav>
    <a href="/" class="logo">
      <img src="/img/glaecier_logo.svg" alt="logo" />
    </a>
    <HamburgerFoldOutMenu />
    <div class="hamburger">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>

    <ul class="nav-list">
      <li><a class="nav-link" href="/#about_section">About</a></li>
      <li><a class="nav-link" href="/#membership_section">Membership</a></li>
      <li><a class="nav-link" href="/#community_section">Community</a></li>
      <li><a class="nav-link" href="/#events_section">Events</a></li>
      <li><a class="nav-link" href="/#merchandise_section">Merchandise</a></li>
      <li><a href="/login/"><img src="../img/user.png" alt="Profile Icon" class="white-icon" /></a></li>
      <li><a href="/faq/"><img src="../img/information.png" alt="Faq Icon .." class="white-icon" /></a></li>
    </ul>
  </nav>
</header>

<style>
  /* nav og logo */
  .white-icon {
    filter: invert(1);
    width: 20px;
  }
  .white-icon:hover {
    transform: scale(1.4); /* Apply scaling effect on hover */
  }
  header {
    top: 0;
    width: 100%;
    width: 100%;
    margin-bottom: 4rem;
  }
  .logo img {
    width: 100%;
    left: 5%;
    top: 50px;
    max-width: 200px;
    position: relative;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-right: 5%;
  }
  .nav-list li a {
    color: var(--white);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav-link:hover {
    border-bottom: solid 1px var(--white);
  }

  /* burgermenu */
  .hamburger {
    cursor: pointer;
    display: none; /* Skjuler knappen som standard */
    position: fixed;
    top: 5%;
    right: 8%;
  }
  .hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: var(--white);
  }

  @media (max-width: 900px) {
    .hamburger {
      display: block;
      /* Vis knappen, når viewporten maksimalt er 900px */
    }
    .nav-list {
      display: contents; /* Fjern ".nav-list"-boksen fra ligningen, når viewporten maksimalt er 900px, men behold børnene, så disse deltager i flex-kontekten */
      display: none; /* Fjern nav-listen som standard */
      top: 10%;
    }

    .nav-list.shown {
      /* Vis nav-listen, når klassen ".shown" er til stede */
      background-color: var(--dark-background);
      color: var(--dark-background);
      padding: 5%;
      display: flex;
      display: block;
      top: 10%;
      right: 5px;
      flex: 1 1 100%;
      flex-flow: column;
      text-align: right;
      font-size: var(--p-font-size);
      position: fixed;
      z-index: 1;
    }
    .nav-list a.shown {
      margin-right: 1rem;
    }
  }

  .pressed .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .pressed .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .pressed .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  /*
  .pressed .hamburger::before {
    transform: rotate(90deg) translate(8px);
  }*/

  /* opacity: 0; */
</style>
<script>
  // Lav variablen "btn", der henviser til ".toggle-btn"
  const btn = document.querySelector(".hamburger");
  // Lav variablen "menu", der henviser til ".nav-links"
  const menu = document.querySelector(".nav-list");

  // Lav funktionen "toggleMenu()" med følgende funktionalitet
  function toggleMenu() {
    // a) toggle klassen "shown" på menu vha. classList.toggle

    menu.classList.toggle("shown");
    btn.classList.toggle("pressed");

    // b) lav variablen "menuShown", som siger, at menu-variablen indeholder klassen "shown" via classList.contains("")
    const menuShown = menu.classList.contains("shown");

    // c) spørg om "menuShown" i if-sætningen nedenfor (=> if (menuShown)), og udskift teksten
    if (menuShown) {
      console.log(menuShown); // se i konsollen
      // btn.textContent = "Luk"; //hvis menuShown er "true"
    } else {
      console.log(menuShown); // se i konsollen

      // btn.textContent = "Menu"; // hvis menuShown er "false"
    }
    // "toggleMenu()" slutter her
  }
  // Tilføj et klik-event til "btn", der sætter toggleMenu-funktionen i gang
  btn.addEventListener("click", toggleMenu);

  // Scroll to the FAQ section when the link is clicked
  /* const faqLink = document.querySelector('a[href="#faq"]');
  faqLink.addEventListener("click", function (event) {
    event.preventDefault(); // Prevent default link behavior
    const faqSection = document.getElementById("faq");
    faqSection.scrollIntoView({ behavior: "smooth" });
  });*/
</script>
