---
import Hamburger from "./Hamburger.astro";
---

<header>
  <nav class="flex">
    <div class="logo">
      <a href="/">
        <img src="img/glaecier_logo.svg" alt="logo" />
      </a>
    </div>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
  <ul class="nav-list">
    <li><a class="nav-link" href="/#about_section">About</a></li>
    <li><a class="nav-link" href="/#membership_section">Membership</a></li>
    <li><a class="nav-link" href="/#community_section">Community</a></li>
    <li><a class="nav-link" href="/#events_section">Events</a></li>
    <li><a class="nav-link" href="/#merchandise_section">Merchandise</a></li>
    <li><a class="nav-link" href="/login">Account</a></li>
    <li><a class="nav-link" href="/#faq">FAQ</a></li>
  </ul>
</header>

<style>
  /* nav og logo */
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 3%;
    margin-right: 5%;
  }
  .flex {
    display: flex;
    display: block;
    color: var(--white);
  }
  .logo img {
    width: 100%;
    margin-left: 10%;
    max-width: 200px;
  }
  .nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 5%;
  }
  .nav-list li a {
    color: var(--white);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav-list li a:hover {
    border-bottom: solid 1px var(--white);
  }

  /* burgermenu */
  .hamburger {
    cursor: pointer;
    display: none; /* Skjuler knappen som standard */
    position: fixed;
    margin-left: 85%;
    margin-top: -5%;
  }
  .hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: var(--white);
  }

  @media (max-width: 900px) {
    .hamburger {
      display: block;
      /* Vis knappen, når viewporten maksimalt er 900px */
    }
    .nav-list {
      display: contents; /* Fjern ".nav-list"-boksen fra ligningen, når viewporten maksimalt er 900px, men behold børnene, så disse deltager i flex-kontekten */
      display: none; /* Fjern nav-listen som standard */
      margin: 2rem;
    }

    .nav-list.shown {
      /* Vis nav-listen, når klassen ".shown" er til stede */
      background-color: var(--dark-background);
      color: var(--dark-background);
      margin-top: 10rem;
      padding: 5%;
      display: flex;
      display: block;
      margin-left: 70%;
      margin-top: 10%;
      flex: 1 1 100%;
      flex-flow: column;
      text-align: right;
      font-size: var(--p-font-size);
      position: fixed;
      z-index: 1;
    }
    .nav-list a.shown {
      margin-right: 1rem;
    }
  }
  /*

/*
.pressed .line1::before {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .pressed .line2::before {
    transition: transform 0.2s ease-in-out;
  }

  .pressed .line3::before {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .pressed .hamburger::before {
    transform: rotate(90deg) translate(8px);
  }
  */

  /* opacity: 0; */
</style>
<script>
  // Lav variablen "btn", der henviser til ".toggle-btn"
  const btn = document.querySelector(".hamburger");
  // Lav variablen "menu", der henviser til ".nav-links"
  const menu = document.querySelector(".nav-list");

  // Lav funktionen "toggleMenu()" med følgende funktionalitet
  function toggleMenu() {
    // a) toggle klassen "shown" på menu vha. classList.toggle

    menu.classList.toggle("shown");
    btn.classList.toggle("pressed");

    // b) lav variablen "menuShown", som siger, at menu-variablen indeholder klassen "shown" via classList.contains("")
    const menuShown = menu.classList.contains("shown");

    // c) spørg om "menuShown" i if-sætningen nedenfor (=> if (menuShown)), og udskift teksten
    if (menuShown) {
      console.log(menuShown); // se i konsollen
      // btn.textContent = "Luk"; //hvis menuShown er "true"
    } else {
      console.log(menuShown); // se i konsollen

      // btn.textContent = "Menu"; // hvis menuShown er "false"
    }
    // "toggleMenu()" slutter her
  }
  // Tilføj et klik-event til "btn", der sætter toggleMenu-funktionen i gang
  btn.addEventListener("click", toggleMenu);
</script>
