---
import Button from "../components/Button.astro";
import "../styles.css";
---

<section id="landingpage_section">
  <h1 class="uppercase">Breathe out Dive in</h1>
  <p>Enjoy relaxation and wellness in our new luxurious sauna- & winterbathing club at Refshaleøen</p>
  <div class="button"><Button buttontext="Sign up" /></div>
</section>
<section class="col2 blue">
  <p class="hide-mobilesite">
    Enjoy life at Glaecier - where exclusivity meets community in a spectacular setting on Refshaleøen - <a
      href="https://www.google.com/maps/place/Refshalevej+143,+1432+København+K/@55.6904282,12.6068237,17z/data=!3m1!4b1!4m6!3m5!1s0x465253e4a1121075:0xd76336c1f6394519!8m2!3d55.6904282!4d12.6068237!16s%2Fg%2F11smjbx2sn"
      target="_blank">Refshalevej 143, 1432 København K</a
    >
  </p>
  <div class="opening-hours">
    <div class="hours">
      <div>
        <p>Monday - Sunday:</p>
        <p>6:00 AM - 10:00 PM</p>
      </div>
      <div>
        <p>Thursday:</p>
        <p>6:00 AM - <span>5:00 PM</span></p>
      </div>
    </div>
  </div>
</section>

<style>
  body {
    background-image: url("../img/resized-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: top;
  }
  #landingpage_section h1 {
    font-size: var(--h1-font-size);
    text-align: left;
    margin-top: 5rem;
  }
  #landingpage_section p {
    font-size: var(--p-font-size);
    max-width: 500px;
  }
  .button {
    margin-top: 3rem;
    text-align: center;
  }
  a {
    color: var(--white);
    font-size: var(--p-font-size);
    text-decoration: none;
  }
  a:hover {
    border-bottom: solid 1px var(--white);
  }
  #landingpage_section {
    margin: 5rem;
    max-width: 250px;
    color: var(--white);
  }
  @media (max-width: 360px) {
    #landingpage_section,
    .button {
      margin: 2rem;
      text-align: left;
      max-width: 250px;
    }
  }

  /*responsiv til ipad air*/
  @media (min-width: 550px) {
    #landingpage_section,
    .button {
      text-align: left;
      max-width: 500px;
    }
  }
  /*responsiv til macbook*/
  @media (min-width: 820px) {
    #landingpage_section {
      padding-top: 4rem;
      margin-left: 10%;
      max-width: 500px;
    }
  }
</style>

<script>
  // Get the button element
  const button = document.querySelector(".button");

  // Add a click event listener to the button
  button.addEventListener("click", function (event) {
    // Prevent the default behavior
    event.preventDefault();

    // Redirect to "/memberpage"
    window.location.href = "/login#signup";
  });
</script>
