---
import Header from "../components/Header.astro";
const { title } = Astro.props;
import Button from "../components/Button.astro";
import "../styles.css";
---

<section class="landingpage">
  <h1 class="uppercase">Breathe out Dive in</h1>
  <p>Enjoy relaxation and wellness in our new luxurious sauna- & winterbathing club at Refshaleøen</p>
  <div class="button"><a href="/login"><Button buttontext="Sign up" /></a></div>
</section>
<section class="text_columns">
  <div class="col2_text">
    <p>
      Enjoy life at Glaecier - where exclusivity meets community in a spectacular setting on Refshaleøen - <a
        href="https://www.google.com/maps/place/Refshalevej+143,+1432+København+K/@55.6904282,12.6068237,17z/data=!3m1!4b1!4m6!3m5!1s0x465253e4a1121075:0xd76336c1f6394519!8m2!3d55.6904282!4d12.6068237!16s%2Fg%2F11smjbx2sn"
        target="_blank">Refshalevej 143, 1432 København K</a
      >
    </p>
    <div class="special_col2_text">
      <p>Opening hours</p>
      <div class="col2_text">
        <div>
          <p>Monday - Sunday:</p>
          <p>6:00 AM - 10:00 PM</p>
        </div>
        <div>
          <p>Thursday:</p>
          <p>6:00 AM - <span>5:00 PM</span></p>
        </div>
      </div>
    </div>
  </div>

  <style>
    .landingpage {
      height: 700px;
      padding-top: 8rem;
    }
    .landingpage h1 {
      text-align: left;
      color: var(--white);
      max-width: 500px;
      font-size: var(--h1-font-size);
      margin-left: 7rem;
      margin-top: 5rem;
    }
    .landingpage p {
      font-size: 1.5rem;
      color: var(--white);
      margin-left: 7rem;
      max-width: 500px;
    }
    .col2_text {
      margin-top: 0;
    }
    .button {
      margin-left: 7rem;
      margin-top: 3rem;
      margin-bottom: 8rem;
    }
    .text_columns {
      background-color: var(--ocean-blue);
    }
    a {
      color: var(--white);
      font-size: var(--p-font-size);
      text-decoration: none;
    }
    a:hover {
      border-bottom: solid 1px var(--white);
    }
  </style>
</section>
