---
import Header from "../components/Header.astro";
const { title } = Astro.props;
import Button from "../components/Button.astro";
import "../styles.css";
---

<section class="landingpage">
  <h1 class="uppercase">Breathe out Dive in</h1>
  <p>Enjoy relaxation and wellness in our new luxurious sauna- & winterbathing club at Refshaleøen</p>
  <div class="button"><a href="/login"><Button buttontext="Sign up" /></a></div>
</section>
<section class="text_columns">
  <div class="col2_text">
    <p>Enjoy life at Glaecier - where exclusivity meets community in a spectacular setting on Refshaleøen</p>
    <p>As a member of Glaecier, you experience a paradisiacal sanctuary in the heart of Copenhagen.</p>
  </div>
</section>

<style>
  .landingpage {
    height: 700px;
    padding-top: 8rem;
  }
  .landingpage h1 {
    text-align: left;
    color: var(--white);
    max-width: 500px;
    font-size: var(--h1-font-size);
    margin-left: 7rem;
    margin-top: 5rem;
  }
  .landingpage p {
    font-size: 1.5rem;
    color: var(--white);
    margin-left: 7rem;
    max-width: 500px;
  }

  .button {
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }
  .text_columns {
    background-color: var(--ocean-blue);
  }
</style>
