---
import Header from "../components/Header.astro";
const { title } = Astro.props;
import Button from "../components/Button.astro";
import "../styles.css";
---

<section class="landingpage">
  <h1 class="uppercase">Breathe out Dive in</h1>
  <p>Enjoy relaxation and wellness in our new luxurious sauna- & winterbathing club at Refshaleøen</p>
  <div class="button"><Button buttontext="Sign up" /></div>
</section>
<section class="col2 blue">
  <p>
    Enjoy life at Glaecier - where exclusivity meets community in a spectacular setting on Refshaleøen - <a
      href="https://www.google.com/maps/place/Refshalevej+143,+1432+København+K/@55.6904282,12.6068237,17z/data=!3m1!4b1!4m6!3m5!1s0x465253e4a1121075:0xd76336c1f6394519!8m2!3d55.6904282!4d12.6068237!16s%2Fg%2F11smjbx2sn"
      target="_blank">Refshalevej 143, 1432 København K</a
    >
  </p>
  <div class="special_col2_text">
    <p>Opening hours</p>
    <div class="col2_text">
      <div>
        <p>Monday - Sunday:</p>
        <p>6:00 AM - 10:00 PM</p>
      </div>
      <div>
        <p>Thursday:</p>
        <p>6:00 AM - <span>5:00 PM</span></p>
      </div>
    </div>
  </div>
</section>
<section class="text_columns">
  <div class="col2_text"></div>

  <style>
    body {
      min-width: 100%;
      max-height: 100%;
      background-image: url("../img/background.webp");
      background-size: fill;
      background-position: left;
      background-origin: top;
    }
    .landingpage {
      height: 100%;
      padding-top: 8rem;
    }
    .landingpage h1 {
      color: var(--white);
      font-size: var(--h1-font-size);
    }
    .landingpage p {
      font-size: var(--p-font-size);
      color: var(--white);
      max-width: 500px;
    }

    .button {
      margin-left: 7rem;
      margin-top: 3rem;
      margin-bottom: 8rem;
    }

    a {
      color: var(--white);
      font-size: var(--p-font-size);
      text-decoration: none;
    }
    a:hover {
      border-bottom: solid 1px var(--white);
    }
    /*responsiv til iphone 12 pro*/
    @media (max-width: 390px) {
      .landingpage h1 {
        text-align: center;
        margin: 5rem;
        margin-top: 5rem;
      }
      .landingpage p {
        font-size: var(--p-font-size);
        margin: 5rem;
      }
    }
    /*responsiv til ipad air*/
    @media (max-width: 819px) {
      .landingpage {
        justify-content: center;
      }
      .landingpage h1 {
        margin: 7rem;
        max-width: 500px;
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .landingpage p {
        margin: 7rem;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
    /*responsiv til macbook*/
    @media (min-width: 820px) {
      .landingpage {
        height: 500px;
        padding-top: 8rem;
      }
      .landingpage h1 {
        text-align: left;
        max-width: 500px;
        margin-left: 7rem;
        margin-top: 5rem;
      }
      .landingpage p {
        font-size: var(--p-font-size);
        margin-left: 7rem;
        max-width: 500px;
      }
    }
  </style>
</section>

<script>
  // Get the button element
  const button = document.querySelector(".button");

  // Add a click event listener to the button
  button.addEventListener("click", function (event) {
    // Prevent the default behavior
    event.preventDefault();

    // Redirect to "/memberpage"
    window.location.href = "/login#signup";
  });
</script>
