---
import "../styles.css";
import Button2 from "./Button2.astro";
---

<section id="landingpage_memberpage_section">
  <h1>Welcome</h1>
  <h2>..to our exclusive member site</h2>
</section>
<section class="col2 orange-beige">
  <p class="hide-mobilesite">Access our event calendar, insider facility tips, and practical messages. Be a part of the Glaecier community.</p>
  <div class="opening-hours">
    <div class="hours">
      <div>
        <p>Monday - Sunday:</p>
        <p>6:00 AM - 10:00 PM</p>
      </div>
      <div>
        <p>Thursday:</p>
        <p>6:00 AM - <span>05:00 PM</span></p>
      </div>
    </div>
  </div>
</section>
<section class="text_box">
  <h2>Join us in building a thriving community together</h2>
  <p>Our members are the heart of our community.</p>
  <p>We are so happy that you are here. At your member profile you can see and chaenge your info, register your credit card, and read news and messages. If you have any questions, please contact us at Hello@Glaecier.com</p>
  <p>
    Join us in building a thriving and vibrant space where everyone can unwind, relax and connect with like-minded people. We believe in creating a welcoming and inclusive environment that fosters growth, wellness, and fun. So participate and be part
    of something special. Together, let's build a thriving community that celebrates the power of sauna and relaxation.
  </p>
</section>
<section class="col2 beige">
  <p class="center hide-mobilesite">You are Glaecier, Glaecier is you.</p>
  <p>At Glaecier our most cherished values are respect and care for others.</p>
</section>
<section id="updates_section" class="index_sections">
  <img class="section_img hide-mobilesite" src="/img/about.webp" alt="about-billede" />
  <div class="section_text">
    <h2>Update from latest events</h2>
    <h3>June 2th</h3>
    <p>
      We are thrilled to share some of the recent happenings at Glaecier Sauna Spa with you! Our guests have been indulging in our newly introduced treatments, such as our rejuvenating Himalayan salt stone massage and our detoxifying seaweed body
      wrap. Our latest collaboration with renowned skincare expert, Ole Henriksen, was a huge success, and our guests left feeling enlightened and glowing.
    </p>
  </div>
</section>
<section id="practicals_section" class="index_sections">
  <div class="section_text">
    <h2>Practicals</h2>
    <p>Pool cleaning: Glacier will be exceptionally closed next Thursday, June 1st, as the pool needs to be cleaned and due to regular maintenance. We look forward to seeing you again on Friday morning when Glacier reopens for members.</p>
    <p>Lost and found: Lately we have found a lot of forgotten belongings in the lounge area. If you miss something you may find it in our lost-and-found box right next to the entrance.</p>
    <p>The lockers: After some time with technical issues, our lockers are now working again! Use your wristband to lock and open your locker.</p>
  </div>
  <img class="hide-mobilesite section_img" src="/img/login.webp" alt="login-billede" />
</section>
<section class="col2 blue">
  <p class="hide-mobilesite">The exciting world of Glaecier's events</p>
  <p>Elevate your sauna experience with our diverse and fun-filled events calendar</p>
</section>
<section id="upcoming_section">
  <h2>Upcoming Events:</h2>
  <div class="events">
    <div class="event">
      <h3>June 12th - Sauna Gus</h3>
      <p>Get ready to indulge in the ultimate relaxation experience on June 12th with our Saunagus event. Don't miss out on this unique opportunity to unwind and destress like never before. Book your spot now</p>
      <div class="button2"><Button2 buttontext="Book" /></div>
    </div>
    <div class="event">
      <h3>June 20th - Ole Henriksen</h3>
      <p>
        Mark your calendars for June 20th, as we're bringing the skincare guru, Ole Henriksen, to join forces with Glacier to give you the ultimate skincare knowledge drop! Don't miss out on this exclusive event, where you'll have the opportunity to
        meet and learn from the master himself. Reserve your spot now to secure your place.
      </p>
      <div class="button2"><Button2 buttontext="Book" /></div>
    </div>
  </div>
</section>
<section class="col2 beige">
  <p class="center hide-mobilesite">As a member, you, and the community, are our highest priority.</p>
  <p>Since we pay close attention to providing an extraordinary experience for all our members, we want you to help us build the community and establish who we are.</p>
</section>
<section class="text_box">
  <section id="house-rules_section">
    <h2>Creating Community - House Rules</h2>

    <p>We must be mindful of a few important things, so our experience while at Glaecier will be the best possible for everyone.</p>
    <ol>
      <li>Always behave nicely and considerately.</li>
      <li>Never bathe alone. Your well-being is crucial to us, but it is your responsibility to stay safe.</li>
      <li>Your membership is personal. We do not accept non-members at Glaecier.</li>
      <li>For your safety, when using the facilities at Glaecier, it is not allowed to be under the influence of alcohol or any other euphoric drug.</li>
      <li>People come to Glaecier to relax and recharge. Be mindful of other members surrounding you and always respect people's personal space. Turn off your phone and do not talk loudly when other members are present at the club.</li>
      <li>It's okay to enjoy a small snack in the lounge, but please do not bring any food items, drinks, or beverages and always remember to clean up nicely after yourself.</li>
      <li>Pets are not permitted onto the Glaecier premises.</li>
      <li>Glaecier is a smoking-free area.</li>
      <li>Do not take any photos or video recordings of other members or of the facilities.</li>
      <li>Always respect and treat the facilities as if they are your own, and the community as if it is part of your own family. Remember to always keep all areas clean and tidy.</li>
      <li>Please do not exceed your stay for more than 2 hours, as we wish to give everyone the opportunity to enjoy a relaxing and peaceful stay at our facility.</li>
      <li>When in the water, you may swim naked or with swimwear; however, when in the sauna, please cover yourself with a towel.</li>
      <li>When using the sauna, always remember to sit on a towel, for hygienic reasons.</li>
      <li>Always use the dipping zone for swimming; it is not allowed to jump into the harbor area.</li>
      <li>Please shower or enter the water before entering the sauna.</li>
      <li>Finally, always remember to check yourself in and out of the facility and, of course, do not forget your belongings.</li>
    </ol>
  </section>
</section>

<style>
  body {
    background-image: url("../img/memberpage.webp");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    background-origin: top;
  }
  #house-rules_section ol li {
    font-size: var(--p-font-size);
    font-family: "Publicsans-light";
  }
  #landingpage_memberpage_section h1 {
    font-size: var(--h1-font-size);
    min-width: 250px;
    text-align: left;
  }
  @media (min-width: 400px) {
    #house-rules_section,
    .text_box {
      padding: 2rem;
    }
  }

  @media (min-width: 600px) {
    #landingpage_memberpage_section h2 {
      text-align: left;
    }
    #landingpage_memberpage_section h1 {
      font-size: 4rem;
    }
  }
  #landingpage_memberpage_section {
    margin: 5rem;
    text-align: left;
    margin-top: 20rem;
    margin-bottom: 5rem;
    color: var(--white);
  }
  .text_box,
  #upcoming_section {
    background-color: var(--background);
    padding: 1rem;
    text-align: center;
  }
  .text_box h2,
  .text_box p,
  .event .button2,
  .events p,
  #house-rules_section ol li {
    margin: 1rem;
  }
  #house-rules_section ol,
  .events {
    gap: 1rem;
    text-align: left;
  }

  /*responsiv til ipad air*/
  @media (min-width: 550px) {
    .events {
      display: flex;
      flex-direction: row;
    }
    #landingpage_memberpage_section {
      text-align: left;
    }
    #house-rules_section ol {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  /*responsiv til macbook*/
  @media (min-width: 820px) {
    #landingpage_memberpage_section {
      padding-top: 4rem;
      left: 10%;
    }
  }
</style>
