---
import Button2 from "../components/Button2.astro";
---

<form id="login-form">
  <div>
    <label for="name">Username</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>
  <div class="button2"><Button2 buttontext="Log in" /></div>
</form>

<style>
  #login-form {
    margin: 2rem;
  }
  #login-form .button {
    text-align: center;
    margin: 2rem;
  }
  input {
    width: 100%;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  header {
    background-color: var(--dark-background);
  }
</style>

<script>
  // Get the button element
  const form = document.querySelector("#login-form");

  // Add a click event listener to the button
  form.addEventListener("click", function (event) {
    // Prevent the default behavior
    event.preventDefault();

    // Redirect to "/memberpage"
    window.location.href = "/memberpage/";
  });
</script>
