---
import Button2 from "../components/Button2.astro";
---

<form id="Log-in">
  <div>
    <label for="name">Username</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>
  <div class="button"><a href="/login"><Button2 buttontext="Log in" /></a></div>
</form>
