---
import "../styles.css";
import Button2 from "./Button2.astro";
---

<section id="membership_section" class="index_sections">
  <img class="section_img" src="/img/membership.webp" alt="membership-billede" />
  <div class="section_text">
    <h2>Membership</h2>
    <p>Apply for membership by signing up in our online "Lobby". It is both free and non-binding.</p>
    <div class="prices">
      <div>
        <p class="bold">Age 18-29:</p>
        <p>399 DKK per month</p>
      </div>
      <div>
        <p class="bold">Age 30-64:</p>
        <p>499 DKK per month</p>
      </div>
      <div>
        <p class="bold">Age +65:</p>
        <p>399 DKK per month</p>
      </div>
    </div>
    <div class="button2"><Button2 buttontext="Sign up" /></div>
  </div>
</section>

<section class="col2 beige">
  <p>The Lobby is not a waiting list, and allocation of memberships is done through a random selection based on our diversity criteria.</p>
  <p class="hide-mobilesite">We aim for a diverse representation of our society in our bath club, believing that it contributes to an inclusive and open community. A Glaecier membership provides access to our facilities during opening hours.</p>
</section>

<style>
  #membership_section .section_text {
    text-align: center;
  }
  #membership_section .prices {
    justify-content: center;
  }

  .button2 {
    margin-top: 2rem;
  }
  .prices {
    margin-top: 2rem;
    display: flex;
    text-align: left;

    gap: 2rem;
  }
</style>

<script>
  // Get the button element
  const button = document.querySelector(".button2");

  // Add a click event listener to the button
  button.addEventListener("click", function (event) {
    // Prevent the default behavior
    event.preventDefault();

    // Redirect to "/memberpage"
    window.location.href = "/login#signup";
  });
</script>
