:root {
  --h1-font-size: 4rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --p-font-size: 1.5rem;

  /*Farver*/
  --white: #fff;
  --dark: #000;
  --background: #e0dbd1;
  --dark-background: #b1a48d;
  --grey-background: #e9e8ef;
  --blue: #badae8;
  --orange-beige: #d9a87e;
  --ocean-blue: #1c5c6b;
  --hover: ;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
html {
  height: 100%;
}

img {
  width: 100%;
}
.text_columns {
  background-color: var(--dark-background);
}
.text-box {
  padding: 4rem;
  vertical-align: center;
}
p {
  font-size: var(--p-font-size);
  margin-top: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-size: var(--h2-font-size);
  text-align: center;
}
h3 {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-top: 2rem;
}
h4 {
  font-size: var(--h4-font-size);
  text-align: center;
  margin-top: 0.5rem;
}
.text_columns p {
  font-size: 1.5rem;
  margin: 4rem;
  color: var(--white);
}
.col2_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

span {
  border-bottom: dotted 1px var(--white);
}
.special_col2_text p {
  font-size: 1.5rem;
  margin: 1rem;
  color: var(--white);
}
.special_col2_text {
  margin-left: 4rem;
  margin-right: 4rem;
}
.special_col2_text > :first-child {
  margin-top: 4rem;
}
.special_col2_text > :last-child {
  margin-bottom: 4rem;
}
.index_sections {
  background-color: var(--background);
}
.section_img {
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.section_text {
  padding: 3rem;
  vertical-align: center;
}
.question {
  padding: 1rem;
  margin: 1rem;
}
.hide-mobilesite {
  display: none;
}
.blue {
  background-color: var(--ocean-blue);
  color: var(--white);
}
.beige {
  background-color: var(--dark-background);
  color: var(--white);
}
.col2 p {
  margin-top: 0rem;
  margin: 3rem;
}

/*Grid i mediaqueries*/
@media (min-width: 900px) {
  .hide-mobilesite {
    display: block;
  }
  .index_sections,
  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section_img {
    height: 700px;
    object-fit: cover;
    overflow: hidden;
  }
}
