:root {
  --h1-font-size: 12rem;
  --h2-font-size: 5rem;
  --h3-font-size: 0.5rem bold;
  --p-font-size: 0.5rem;

  /*Farver*/
  --white: #fff;
  --dark: #000;
  --background: #ddcece;
  --hover: ;
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  font-family: ;
}

a:hover {
  color: var(--hover);
  transition: 100ms all ease-in;
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
  color: var(--black);
}
h3 {
  font-family: ;
  font-size: var(--h3-font-size);
  color: var(--black);
}

h4 {
  font-family: Calibre-bold;
  font-size: var(--p-font-size);
  color: var(--black);
  margin-bottom: 0;
}

p {
  font-family: Calibre;
  font-size: var(--p-font-size);
  color: var(--black);
}

.p-italic {
  font-family: Calibre-italic;
  font-size: var(--p-font-size);
  color: var(--black);
}
