:root {
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1rem;
  --p-font-size: 1rem;

  /*Farver*/
  --white: #fff;
  --dark: #000;
  --background: #e0dbd1;
  --dark-background: #b1a48d;
  --grey-background: #e9e8ef;
  --blue: #badae8;
  --orange-beige: #d9a87e;
  --ocean-blue: #1c5c6b;
  --hover: ;
}
@media (min-width: 600px) {
  :root {
    --h1-font-size: 4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1rem;
    --p-font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
html {
  height: 100%;
}
img {
  width: 100%;
}
/*Font size, family & styling*/
p {
  font-size: var(--p-font-size);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-size: var(--h1-font-size);
  color: var(--white);
}
h2 {
  font-size: var(--h2-font-size);
  text-align: center;
}
h3 {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-top: 2rem;
}
h4 {
  font-size: var(--h4-font-size);
  text-align: center;
  margin-top: 0.5rem;
}
.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
span {
  border-bottom: dotted 1px var(--white);
}

/* Styling af sectionernes tekst og billeder*/
.index_sections {
  background-color: var(--background);
}
.section_img {
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.section_text {
  padding: 3rem;
  vertical-align: center;
}
.question {
  padding: 1rem;
  margin: 1rem;
}
.blue {
  background-color: var(--ocean-blue);
  color: var(--white);
}
.orange-beige {
  background-color: var(--orange-beige);
  color: var(--white);
}
.beige {
  background-color: var(--dark-background);
  color: var(--white);
}
.col2 p {
  margin-top: 0rem;
  padding: 3rem;
}
.col2 .opening-hours .hours {
  text-align: center;
}
.opening-hours p {
  padding: 0.5rem;
  text-align: center;
}
.hours div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.opening-hours {
  padding: 3rem;
}

/*Styling i responsiv*/
.hide-mobilesite {
  display: none;
}
@media (min-width: 800px) {
  .hide-mobilesite {
    display: block;
  }
  .index_sections,
  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section_img {
    height: 700px;
    object-fit: cover;
    overflow: hidden;
  }
}
